th {
    font-weight: bold;
}

.btn-sm {
    border: 0px;
}

.container {

    .table-sort-link {
        cursor: pointer;
        user-select: none;

        &.active {

            &.asc {

                .glyphicon-sort-by-attributes {
                    display: inline-block;
                }

                .glyphicon-sort-by-attributes-alt {
                    display: none;
                }
            }

            &.desc {

                .glyphicon-sort-by-attributes {
                    display: none;
                }

                .glyphicon-sort-by-attributes-alt {
                    display: inline-block;
                }
            }

            .glyphicon {
                margin-left: 5px;
            }
        }

        .glyphicon {
            display: none;
        }
    }
}