<h3>The Jolly Roger Tavern</h3>

<img src="img/the-jolly-roger.jpg" class="img-responsive img-rounded" alt="Responsive image">

<blockquote>
    <p class="lead">"Welcome to the Jolly Roger matey, take a look at our fine fishermen for you to hire... to catch yee fish, of course!</p>
    <footer>Bartender, <cite>The Jolly Roger Tavern</cite></footer>
</blockquote>

<div class="panel panel-default">
    <div class="panel-heading">Fishermen available</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    <span class="table-sort-link" id="lastName" ng-click="fishermenCtrl.sortTable('lastName')">
                        Name
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </span>
                </th>
                <th class="text-center">
                    <span class="table-sort-link" id="speed" ng-click="fishermenCtrl.sortTable('speed')">
                        Speed
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </span>
                </th>
                <th class="text-center">
                    <span class="table-sort-link" id="accuracy" ng-click="fishermenCtrl.sortTable('accuracy')">
                        Accuracy
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </span>
                </th>
                <th class="text-center">
                    <span class="table-sort-link" id="tripLength" ng-click="fishermenCtrl.sortTable('tripLength')">
                        Next trip length
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </span>
                </th>
                <th class="text-center">
                    <span class="table-sort-link" id="boatCapacity" ng-click="fishermenCtrl.sortTable('boatCapacity')">
                        Boat capacity
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </span>
                </th>
                <th class="text-center">
                    <span class="table-sort-link" id="price" ng-click="fishermenCtrl.sortTable('price')">
                        Price for trip
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </span>
                </th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fisherman in fishermenCtrl.data.fishermen | orderBy:fishermenCtrl.sortType:fishermenCtrl.sortReverse">
                <td class="text-center">{{ fisherman.firstName }} {{ fisherman.lastName }}</td>
                <td class="text-center">{{ fisherman.speed }}</td>
                <td class="text-center">{{ fisherman.accuracy }}</td>
                <td class="text-center">{{ fisherman.tripLength }}h</td>
                <td class="text-center">{{ fisherman.boatCapacity }}</td>
                <td class="text-center">{{ fisherman.price | currency }}</td>
                <td class="text-center"><button class="btn-sm btn-success" type="button">buy</button></td>
            </tr>
        </tbody>
    </table>
</div>